dps/spec/gpdi.dtd

<!--
======================================================================
    Generic Plaintext Document Interface DTD
======================================================================
:Author: David Goodger
:Contact: goodger@users.sourceforge.net
:Revision: $Revision: 1.18 $
:Date: $Date: 2001/10/20 03:02:05 $
:Copyright: This DTD has been placed in the public domain.
:Filename: gpdi.dtd

More information about this DTD (document type definition) and the
Python Docstring Processing System project can be found at
http://docstring.sf.net/. The latest version of this DTD is available
from http://docstring.sf.net/spec/gpdi.dtd.

The proposed formal public identifier for this DTD is::

    +//IDN python.org//DTD Generic Plaintext Document Interface
        1.0a1//EN//XML
-->


<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Parameter Entities
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Parameter entities are used to simplify the DTD (reduce duplication)
and to allow the DTD to be customized by wrapper DTDs. Parameter
entities beginning with 'additional' are meant to allow easy extension
by wrapper DTDs.
-->

<!-- Attributes
================================================================== -->

<!-- Boolean: no if zero(s), yes if any other value. -->
<!ENTITY % yesorno "NMTOKEN">

<!ENTITY % additional.basic.atts "">
<!--
Attributes shared by all elements in this DTD:

- `id` is a unique identifier, typically assigned by the system.
- `name` is an identifier assigned in the markup.
- `dupname` is the same as `name`, used when it's a duplicate.
- `source` is the name of the source of this document or fragment.
-->
<!ENTITY % basic.atts
  " id        ID        #IMPLIED
    name      CDATA     #IMPLIED
    dupname   CDATA     #IMPLIED
    source    CDATA     #IMPLIED
    %additional.basic.atts; ">

<!-- Reference to an external URI/URL. -->
<!ENTITY % refuri.att
  " refuri    CDATA     #IMPLIED ">

<!-- Reference to the `id` attribute of another element. -->
<!ENTITY % refid.att
  " refid     IDREF     #IMPLIED ">

<!-- Reference to the `name` attribute of another element. -->
<!ENTITY % refname.att
  " refname   CDATA     #IMPLIED ">

<!ENTITY % additional.link.atts "">
<!-- Collected hyperlink attributes. -->
<!ENTITY % link.atts
  " %refuri.att;
    %refid.att;
    %refname.att;
    %additional.link.atts; ">

<!-- Unnamed hyperlink. -->
<!ENTITY % anonymous.att
  " anonymous %yesorno; #IMPLIED ">

<!-- XML standard attribute for whitespace-preserving elements. -->
<!ENTITY % fixedspace.att
  " xml:space (default | preserve) #FIXED 'preserve' ">


<!-- Element OR-Lists
============================================================= -->

<!ENTITY % additional.bibliographic.elements "">
<!ENTITY % bibliographic.elements
  " author | authors | organization | contact
    | version | revision | status | date | copyright
    %additional.bibliographic.elements; ">

<!ENTITY % additional.structural.elements "">
<!ENTITY % structural.elements
  " section
    %additional.structural.elements; ">

<!ENTITY % additional.body.elements "">
<!ENTITY % body.elements
  " paragraph
    | bullet_list | enumerated_list | definition_list | field_list
    | option_list
    | literal_block | block_quote | doctest_block | table | figure
    | note | tip | warning | error | caution | danger | important
    | footnote | target | directive | comment
    | system_warning
    %additional.body.elements; ">

<!ENTITY % additional.inline.elements "">
<!ENTITY % inline.elements
  " emphasis | strong | interpreted | literal
    | link | footnote_reference | image
    %additional.inline.elements; ">

<!-- Element Content Models
================================================================== -->

<!ENTITY % structure.model
  " ( (division+, (%structural.elements;)*)
    | (%structural.elements;)+ ) ">

<!ENTITY % text.model
  " (#PCDATA | %inline.elements;)* ">

<!-- Table Model
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

This DTD uses the Exchange subset of the CALS-table model (OASIS
Technical Memorandum 9901:1999 "XML Exchange Table Model DTD",
http://www.oasis-open.org/html/tm9901.htm).
-->

<!ENTITY % calstblx PUBLIC
    "-//OASIS//DTD XML Exchange Table Model 19990315//EN"
    "soextblx.dtd">

<!-- These parameter entities customize the table model DTD. -->
<!ENTITY % bodyatt              " %basic.atts; ">  <!-- table elt -->
<!ENTITY % tbl.tgroup.att       " %basic.atts; ">
<!ENTITY % tbl.thead.att        " %basic.atts; ">
<!ENTITY % tbl.tbody.att        " %basic.atts; ">
<!ENTITY % tbl.colspec.att      " %basic.atts; ">
<!ENTITY % tbl.row.att          " %basic.atts; ">
<!ENTITY % tbl.entry.mdl        " (%body.elements;)* ">
<!ENTITY % tbl.entry.att
  " %basic.atts;
    morecols  NMTOKEN   #IMPLIED ">


<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Root Element
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!-- Optional elements may be generated by internal processing. -->
<!ELEMENT document ((title, subtitle?)?, docinfo?, %structure.model;)>
<!ATTLIST document %basic.atts;>


<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Bibliographic Elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!ELEMENT title %text.model;>
<!ATTLIST title %basic.atts;>

<!ELEMENT subtitle %text.model;>
<!ATTLIST subtitle %basic.atts;>

<!-- Container for bibliographic elements. May not be empty. -->
<!ELEMENT docinfo
    (((%bibliographic.elements;)+, abstract?) | abstract)>
<!ATTLIST docinfo %basic.atts;>

<!ELEMENT author %text.model;>
<!ATTLIST author %basic.atts;>

<!ELEMENT authors (author+)>
<!ATTLIST authors %basic.atts;>

<!ELEMENT organization %text.model;>
<!ATTLIST organization %basic.atts;>

<!ELEMENT contact %text.model;>
<!ATTLIST contact %basic.atts;>

<!ELEMENT version %text.model;>
<!ATTLIST version %basic.atts;>

<!ELEMENT revision %text.model;>
<!ATTLIST revision %basic.atts;>

<!ELEMENT status %text.model;>
<!ATTLIST status %basic.atts;>

<!ELEMENT date %text.model;>
<!ATTLIST date %basic.atts;>

<!ELEMENT copyright %text.model;>
<!ATTLIST copyright %basic.atts;>

<!ELEMENT abstract (%body.elements;)+>
<!ATTLIST abstract %basic.atts;>


<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Structural Elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!ELEMENT section (title, %structure.model;)>
<!ATTLIST section %basic.atts;>

<!ELEMENT division (%body.elements;)+>
<!ATTLIST division %basic.atts;>


<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Body Elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!ELEMENT paragraph %text.model;>
<!ATTLIST paragraph %basic.atts;>

<!ELEMENT bullet_list (list_item+)>
<!ATTLIST bullet_list
    %basic.atts;
    bullet    CDATA     #IMPLIED>

<!ELEMENT enumerated_list (list_item+)>
<!ATTLIST enumerated_list
    %basic.atts;
    enumtype  (arabic | loweralpha | upperalpha
                      | lowerroman | upperroman)
                        #IMPLIED
    prefix    CDATA     #IMPLIED
    suffix    CDATA     #IMPLIED
    start     CDATA     #IMPLIED>

<!ELEMENT list_item (%body.elements;)+>
<!ATTLIST list_item %basic.atts;>

<!ELEMENT definition_list (definition_list_item+)>
<!ATTLIST definition_list %basic.atts;>

<!ELEMENT definition_list_item (term, classifier?, definition)>
<!ATTLIST definition_list_item %basic.atts;>

<!ELEMENT term %text.model;>
<!ATTLIST term %basic.atts;>

<!ELEMENT classifier %text.model;>
<!ATTLIST classifier %basic.atts;>

<!ELEMENT definition (%body.elements;)+>
<!ATTLIST definition %basic.atts;>

<!ELEMENT field_list (field+)>
<!ATTLIST field_list %basic.atts;>

<!ELEMENT field (field_name, field_argument*, field_body)>
<!ATTLIST field %basic.atts;>

<!ELEMENT field_name (#PCDATA)>
<!ATTLIST field_name %basic.atts;>

<!-- Support for Javadoc-style tags with arguments. -->
<!ELEMENT field_argument (#PCDATA)>
<!ATTLIST field_argument %basic.atts;>

<!ELEMENT field_body (%body.elements;)+>
<!ATTLIST field_body %basic.atts;>

<!ELEMENT option_list (option_list_item+)>
<!ATTLIST option_list %basic.atts;>

<!ELEMENT option_list_item (option+, description)>
<!ATTLIST option_list_item %basic.atts;>

<!ELEMENT option
    ((short_option | long_option | vms_option), option_argument?)>
<!ATTLIST option %basic.atts;>

<!ELEMENT short_option (#PCDATA)>
<!ATTLIST short_option %basic.atts;>

<!ELEMENT long_option (#PCDATA)>
<!ATTLIST long_option %basic.atts;>

<!ELEMENT vms_option (#PCDATA)>
<!ATTLIST vms_option %basic.atts;>

<!ELEMENT option_argument (#PCDATA)>
<!ATTLIST option_argument %basic.atts;>

<!ELEMENT description (%body.elements;)+>
<!ATTLIST description %basic.atts;>

<!ELEMENT literal_block (#PCDATA)>
<!ATTLIST literal_block
    %basic.atts;
    %fixedspace.att;>

<!ELEMENT block_quote (%body.elements;)+>
<!ATTLIST block_quote %basic.atts;>

<!ELEMENT doctest_block (#PCDATA)>
<!ATTLIST doctest_block
    %basic.atts;
    %fixedspace.att;>

<!ELEMENT note (%body.elements;)+>
<!ATTLIST note %basic.atts;>

<!ELEMENT tip (%body.elements;)+>
<!ATTLIST tip %basic.atts;>

<!ELEMENT warning (%body.elements;)+>
<!ATTLIST warning %basic.atts;>

<!ELEMENT error (%body.elements;)+>
<!ATTLIST error %basic.atts;>

<!ELEMENT caution (%body.elements;)+>
<!ATTLIST caution %basic.atts;>

<!ELEMENT danger (%body.elements;)+>
<!ATTLIST danger %basic.atts;>

<!ELEMENT important (%body.elements;)+>
<!ATTLIST important %basic.atts;>

<!ELEMENT footnote (label?, (%body.elements;)+)>
<!ATTLIST footnote
    %basic.atts;
    auto      %yesorno; #IMPLIED>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label %basic.atts;>

<!ELEMENT target (#PCDATA)>
<!ATTLIST target
    %basic.atts;
    %refname.att;
    %anonymous.att;>

<!ELEMENT directive (%body.elements;)*>
<!ATTLIST directive
    %basic.atts;
    type      CDATA     #IMPLIED
    data      CDATA     #IMPLIED>

<!ELEMENT comment (#PCDATA)>
<!ATTLIST comment
    %basic.atts;
    %fixedspace.att;>

<!ELEMENT figure (image, caption?, legend?)>
<!ATTLIST figure %basic.atts;>

<!ELEMENT caption %text.model;>
<!ATTLIST caption %basic.atts;>

<!ELEMENT legend (%body.elements;)+>
<!ATTLIST legend %basic.atts;>

<!--
Table elements: table, tgroup, colspec, thead, tbody, row, entry.
-->
%calstblx;

<!-- Used by the processing system to record a warning. -->
<!ELEMENT system_warning (%body.elements;)+>
<!ATTLIST system_warning
    %basic.atts;
    level     NMTOKEN   #IMPLIED
    warning   CDATA     #IMPLIED>


<!--
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Inline Elements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Inline elements occur within the PCDATA of body elements.
-->

<!ELEMENT emphasis (#PCDATA)>
<!ATTLIST emphasis %basic.atts;>

<!ELEMENT strong (#PCDATA)>
<!ATTLIST strong %basic.atts;>

<!ELEMENT interpreted (#PCDATA)>
<!ATTLIST interpreted
    %basic.atts;
    type      CDATA     #IMPLIED>

<!ELEMENT literal (#PCDATA)>
<!ATTLIST literal %basic.atts;>

<!ELEMENT link (#PCDATA)>
<!ATTLIST link
    %basic.atts;
    %link.atts;
    %anonymous.att;>

<!ELEMENT footnote_reference (#PCDATA)>
<!ATTLIST footnote_reference
    %basic.atts;
    %link.atts;
    auto      %yesorno; #IMPLIED>

<!-- Also used in `figure`. -->
<!ELEMENT image EMPTY>
<!ATTLIST image
    %basic.atts;
    uri       CDATA     #REQUIRED
    height    NMTOKEN   #IMPLIED
    width     NMTOKEN   #IMPLIED
    scale     NMTOKEN   #IMPLIED>

<!--
Local Variables:
mode: sgml
indent-tabs-mode: nil
fill-column: 70
End:
-->
